@charset"uft-8";
* {
    margin: 0;
    padding: 0;
}

body {
    background: url('logo/back.png');
    opacity: inherit;
}


/*Area reservada para cabeçario */


/*Imagem do Logo  */

img {
    position: absolute;
    left: 60px;
    top: 0px;
    position: fixed;
    z-index: 5;
}


/* Menu do Site  */

.menu {
    width: 100%;
    height: 50px;
    background-color: #008B8B;
    position: fixed;
    z-index: 4;
    top: 0px;
    float: left;
}

.menu ul {
    list-style: none;
    position: relative;
}

.menu ul#principal {
    list-style: none;
    position: relative;
    align-items: center;
    float: right;
}

.menu ul li {
    width: 150px;
    float: left;
}

.menu a {
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #008B8B;
    color: #fff;
}

.menu ul ul {
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul {
    visibility: visible;
}

.menu a:hover {
    background-color: #B0E0E6;
    color: #555;
}

.menu ul ul li {
    float: none;
    border-bottom: solid 1px #ccc;
}

.menu ul ul li a {
    background-color: #B0C4DE;
}


/*estilização do botão  */

label[for="Bt_menu"] {
    display: none;
    padding: 5px;
    background-color: #008B8B;
    color: #fff;
    font-family: Arial;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 5;
    top: 0px;
}


/* Escondendo o botao */

#Bt_menu {
    display: none;
}


/* criando uma funcão para quando o site estiver encolhido*/

@media(max-width:1200px) {
    label[for="Bt_menu"] {
        display: block;
        width: 100%;
        text-align: left;
        overflow: hidden;
    }
    .menu ul {
        list-style: none;
        position: relative;
        float: none;
    }
    .menu ul#principal {
        float: none;
    }
    .menu ul li {
        width: 100%;
        float: none;
    }
    .menu ul ul {
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .3s;
    }
    .menu ul li:hover ul {
        height: auto;
        max-height: 150px;
    }
    .menu {
        margin-top: 5px;
        margin-left: -100%;
        transition: .4s;
        top: 55px;
    }
    #Bt_menu:checked~.menu {
        margin-left: 0px
    }
}


/*Corpo do site  */

.corpo {
    display: block;
    width: 80%;
    margin: auto;
    height: auto;
    position: relative;
    box-shadow: 5px 5px 10px rgba(24, 24, 24, 0.274);
    text-align: justify;
    top: 60px;
    background: white;
}


/*estilização das noticias dadas  */

.notice {
    margin: 5px;
    position: relative;
    clear: both;
}

.notice h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15pt;
    margin-top: 3px;
    margin-bottom: 5px;
    color: #606060;
    background-color: #F0E68C;
}

.notice h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 13pt;
    color: #bbb;
    background-color: #fff;
    margin: 0px;
}

.notice h3 {
    font-family: 'Farro', sans-serif;
    font-size: 10pt;
    color: #666666;
    margin-bottom: 5px;
}

.notice p {
    text-align: justify;
    text-indent: 50px;
}


/*Rodape do site */

footer {
    clear: both;
    padding-top: 20px;
    text-align: center;
    position: relative;
}